<!DOCTYPE html>
<html>
  {% include head.html %}



    <body>

    {% include nav.html %}

      <div class="header horizontal-gradient">
        <div class="container">
          <h3>金特集团</h3>
          <h4>何卡罗方案平台</h4>
        </div>
        <div class="news">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 news-col">
              </div>
              <div class="col-sm-4 search-col">
                <div class="search-bar">
        <span class="search-icon ionic"><i class="ion-ios7-search-strong"></i></span>
        <input type="search" id="search-input" value="Search">
      </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid content-container">
        {{ content }}
      </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/_bower_components/jquery/dist/jquery.js"></script>
    <script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    <script>
    </script>
    </body>
</html>
