@import '../_bower_components/bootstrap-sass/assets/stylesheets/bootstrap';



/*------------------------------------*\
    #INIT VARIABLES
\*------------------------------------*/


$block-backgrounds: materials url('/img/blocks/birdnest2.jpg'), steel url('/img/blocks/wiremill.jpg'), trade url('/img/blocks/shanghaiport.jpg'), minerals url('/img/blocks/mine.jpg'), realestate url('/img/blocks/realestate.jpg'), agriculture url('/img/blocks/teafarm2.jpg');



// needs latest Compass, add '@import "compass"' to your scss


/*------------------------------------*\
    #BODY
\*------------------------------------*/


body {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  &.about {
    background: url('/img/bamboo2.jpg') no-repeat;
    background-size: cover;
  }
  // &.contact {
  //   background: url('/img/bamboo2.jpg') no-repeat;
  //   background-size: cover;
  // }
}


/*------------------------------------*\
    #SECTION-TITLE
\*------------------------------------*/




a {
  color: #00CD90;
}



/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/


.navbar {
  position: relative;
  z-index: 1000;
  min-height: 73px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  &.navbar-default {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    .navbar-header {
      .navbar-brand {
        padding-top: 25px;
      }
    }
    .navbar-toggle {
      margin-top: 17px;
      padding: 0;
      border: none;
      color: white;
      font-size: 32px;
      opacity: 0.7;
    }
    .navbar-collapse  {
      border-top: 0;
      @media (max-width: $screen-xs-max) {
        background-color: #2D9668;
      }
    }
    .navbar-nav {
      > li {
        @media (min-width: $screen-md-min) {
          float: left;
        }
        > a {
          margin: 0;
          padding-right: 26px !important;
          padding-left: 26px !important;
          @media (min-width: $screen-md-min) {
            padding-top: 35px;
            padding-bottom: 35px;
          }
          border-top: 3px solid transparent;
          color: #abf5c0;
          opacity: 1;
          font-size: 18px;
          &:hover {
            @media (min-width: $screen-md-min) {
              border-top: 3px solid #B5FFCA;
            }
            color: white;
          }
        }
      }
    }
  }
}

.internal {
  position: relative;
  padding: 24px 0 0 0;
  height: 60px;
  z-index: 1000;
  background-position: 0 -76px;

  h3 {
    color: #ebfff3;
    font-size: 30px;
  }
  h4 {
    color: #c2ffd8;
    font-size: 24px;
  }

  .intra {
    position: absolute;
    bottom: 0;
    padding-top: 14px;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.04);
    letter-spacing: -0.03em;
    font-weight: bold;
    // font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .container {
      overflow: hidden;
      color: #B6FFD1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .breadcrumbs {
      margin-top: 5px;
      li {
        a {
          color: #abf5c0;
          letter-spacing: 5px;
        }
      }
    }
    .logins {
      margin-bottom: 10px;
    }
    .search-bar {
      // visibility: hidden;
      float: right;
      padding: 0 2px 0 8px;
      border: none;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.3);
      transition: background ease-in-out 150ms;
      .search-icon {
        padding-top: 4px;
        color: white;
      }
      input {
        padding-left: 4px;
        width: 200px;
        border: none;
        background: transparent;
        color: white;
        font-size: 14px;
        -webkit-appearance: none;
      }
    }
  }

}



.side-nav {
  > li {
    &:hover, &:focus, &.active {
      background-color: rgba(255,255,255,0.1);
    }
    > a { 
      color: white;
      &:hover, &:focus, &.active {
        background-color: transparent;
      }
    }
  }
}

/*------------------------------------*\
    # LAYOUT 
\*------------------------------------*/

.main {
  width: 100% !important;
  padding-bottom: 150px;
  overflow: hidden;
  font-size: 1.4em;
  &.home {
    margin-bottom: 0;
    .content-container {
      padding: 0;
    }
  }
  &.about {
    color: white;
    h2 {
      font-size: 3em;
    }
    hr {
      border: 0;
      height: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 3em;
    }
    .panel {
      padding: 30px 20px;
      background: transparent;
      border-radius: 0px
    }
  }
}


/*------------------------------------*\
    # HOME 
\*------------------------------------*/



#home {
  a {
    color: #000;
  }
  .posts {
    > li {
      padding: 20px 0px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      span {
        display: block;
        padding-bottom: 20px;
      }
      a {
        font-size: 24px;
      }
    }
  }
}


.masthead {
  height: 600px;
  background: url('/img/blocks/steel.jpg') no-repeat 60% 50%;
  background-size: cover;
  h1 {
    margin-top: 40px;
    margin-left: 60px;
    color:white;
    font-size: 92px;
    // font-weight: bold;
  }
  h2 {
    margin-left: 150px;
    font-weight:bold;
    color: white;
  }
  hr {
    background-color: white;
    width: 250px;
    background-position: 50% 50%;
    height: 2px;
  }
}

.block-set {
  height:400px;
  &.row {
    margin:0;
  }
  .block {
    overflow: hidden;
    height: inherit;
    // background-size: cover;
    .keyphrase {
      margin-left: 50px;
      margin-top: 150px;
      font-size: 36px;
      z-index: 5;
    }
    .industry {
      font-size: 64px;
      color: white;
      margin-top: 140px;
      font-style: italic;
      text-align: center;

    }
    .industry-cover {
        height: 100%;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
        position: absolute;
        text-align: center;
    }
    .key-cover {
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        text-align: center;
    }
    @each $background in $block-backgrounds {
      // $i: index($block-backgrounds, $background);
      &.#{nth($background, 1)} {
        background: nth($background, 2) + no-repeat;
        background-size: cover;
      }
    }
  }
  &:nth-child(even) {
    .block {
      p {
        color: white;
      }
      &.left {
        .industry {
          &.animated {
            margin-right: 100px;
          }
        }
        .industry-cover {
          background: rgba(255,255,255,0.6);
          &.animated {
            margin-left: 100%;
          }
        }
        &.animated {
          background-position: 0% 50%;
        }
      }
      &.right {
        z-index: -2;
        background: #00CD99;
        .keyphrase {
          color: white;
          &.animated {
            color: black;
          }
        }
        .key-cover {
          background-color: rgba(255, 255, 255, 0.9);
          margin-left: -15px;
          right:100%;
           &.animated {
            right: 0%;
           }
        }
      }
    }
  }
  &:nth-child(odd) {
    .block {
      &.left {
        z-index: -2;
        .keyphrase {
          color: black;
          &.animated {
            color: white;
          }
        }
        .key-cover {
          background-color: rgba(0, 205, 153, 0.9);
          margin-left: 100%;
          margin-right: -15px;
           &.animated {
            margin-left: -15px;
           }
        }
      }
      &.right {
        .industry {
          &.animated {
            margin-left: 100px;
          }
        }
        .industry-cover {
          background: rgba(0,255,0,0.3);
          &.animated {
            width: 0%;
          }
        }
        &.animated {
          background-position: 100% 50%;
        }
      }
    }
  }
}


/*------------------------------------*\
    #REUSABLES
\*------------------------------------*/


.bar-item {
 .container {
  text-align: center;
  padding-top: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 50px;
  color: white;  
  }
  &.news {
    background: url('/img/bamboo.jpg') no-repeat;
    background-size: cover;
    .heading {
      letter-spacing: 10px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    p {
      letter-spacing: 5px;
      .date {
        font-size: 18px;
      }
      .title {
        font-size: 18px;
        color: #abf5c0;
        font-style: italic;
      }
    }
  }
  &.weixin {
    .btn-weixin {
      float: left;
      margin: 30px 0px;
      padding: 10px 40px;
      font-size: 18px;
      border-radius: 1px;
    }
    img {
      float: right;
      margin: 20px 0px;
    }
  }
}

/*------------------------------------*\
    #MODALS
\*------------------------------------*/

.modal-weixin {
  .modal-content {
    color: white;
    background-color: rgba(62, 229, 153, 0.5);
    p {
      text-align: center;
    }
  }
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/



footer {
  &.home {
    background: url('/img/bamboo.jpg') no-repeat;
    background-size: cover;
  }
  padding: 20px 0 0 0;
  position: relative;
  z-index: 100;
  text-align: center;
  color: white;
  .footer-links {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 10px;
    overflow: auto;
    padding-bottom: 50px;
    dl {
      float: left;
      margin:0;
      padding: 15px 5px 20px 5px;
      width: 20%;
      text-align: left;
      dt {
        margin: 0;
        padding-bottom: 10px;
        letter-spacing: 2px;
      }
      dd {
        margin: 5px 0;
        a {
          display: block;
          color: white;
        }
      }
    }
  }
  .copyright {
    background-color: rgba(62, 229, 153,0.5);
    clear: both;
    text-align: center;
    padding: 35px 0px;
    p {
      font-size:16px;
      letter-spacing: 5px;
      margin-top: 10px;
    }
  }

}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/


.btn-primary {
  background-color: #3EE599;
  border:none;
  &:hover {
    background-color: #00DFAE;
  }
}

.btn-news {
  margin: 20px 0px;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 1px;
}



/*------------------------------------*\
    #NEWS
\*------------------------------------*/


.intro-header {
  &.contact {
    background: url("/img/bamboo.jpg") no-repeat;
    background-size: cover;
  }
  padding: 50px 0px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;

      background: rgb(0,127,50);
      background: -moz-linear-gradient(left, rgba(0,127,50,0.6) 0%, rgba(0,127,70,0.6) 20%, rgba(0,127,50,0.6) 20%, rgba(0,127,70,0.6) 40%, rgba(0,127,80,0.6) 40%, rgba(0,127,80,0.6) 40%, rgba(0,127,90,0.6) 60%, rgba(0,127,80,0.6) 60%, rgba(0,127,100,0.6) 80%, rgba(0,127,90,0.6) 80%, rgba(0,127,100,0.6) 100%); 
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,127,50,0.6)), color-stop(20%,rgba(0,127,70,0.6)), color-stop(20%,rgba(0,127,50,0.6)), color-stop(40%,rgba(0,127,70,0.6)), color-stop(40%,rgba(0,127,80,0.6)), color-stop(40%,rgba(0,127,80,0.6)), color-stop(60%,rgba(0,127,90,0.6)), color-stop(60%,rgba(0,127,80,0.6)), color-stop(80%,rgba(0,127,100,0.6)), color-stop(80%,rgba(0,127,90,0.6)), color-stop(100%,rgba(0,127,100,0.6)));
      background: -webkit-linear-gradient(left, rgba(0,127,50,0.6) 0%,rgba(0,127,70,0.6) 20%,rgba(0,127,50,0.6) 20%,rgba(0,127,70,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,90,0.6) 60%,rgba(0,127,80,0.6) 60%,rgba(0,127,100,0.6) 80%,rgba(0,127,90,0.6) 80%,rgba(0,127,100,0.6) 100%); 
      background: -o-linear-gradient(left, rgba(0,127,50,0.6) 0%,rgba(0,127,70,0.6) 20%,rgba(0,127,50,0.6) 20%,rgba(0,127,70,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,90,0.6) 60%,rgba(0,127,80,0.6) 60%,rgba(0,127,100,0.6) 80%,rgba(0,127,90,0.6) 80%,rgba(0,127,100,0.6) 100%); 
      background: -ms-linear-gradient(left, rgba(0,127,50,0.6) 0%,rgba(0,127,70,0.6) 20%,rgba(0,127,50,0.6) 20%,rgba(0,127,70,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,90,0.6) 60%,rgba(0,127,80,0.6) 60%,rgba(0,127,100,0.6) 80%,rgba(0,127,90,0.6) 80%,rgba(0,127,100,0.6) 100%); 
      background: linear-gradient(to right, rgba(0,127,50,0.6) 0%,rgba(0,127,70,0.6) 20%,rgba(0,127,50,0.6) 20%,rgba(0,127,70,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,80,0.6) 40%,rgba(0,127,90,0.6) 60%,rgba(0,127,80,0.6) 60%,rgba(0,127,100,0.6) 80%,rgba(0,127,90,0.6) 80%,rgba(0,127,100,0.6) 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f32', endColorstr='#007f64',GradientType=1 );


    h1 {
      color: white;
      margin-top: 20px;
      margin-bottom: 30px;
      font-weight: 800;
      font-size: 4em;
    }
}


.posts {
  // margin-top: 60px;
  .article {
    margin-bottom: 40px;
    padding-bottom: 20px;
    // &:nth-child(1) {
    //   margin-top: 50px;
    // }
    .title {
      line-spacing: 5px;
      letter-spacing: 4px;
      margin-top: 2em;
      margin-bottom: 1em;
      text-align: center;
      @media (min-width: $screen-sm-min) {
        margin-left: 50px;
        margin-top: 0.8em;
      }
      a {
        color: black;
      };
    } 
    .dates {
      position: relative;
      .date-square {
          position: absolute;
          width: 50%;
          text-align: center;
          font-size: 18px;
          // color: white;
          @media (min-width: $screen-sm-min) {
            display: block;
            width: 150px;
            margin-bottom: 20px;
            padding: 25px 10px 25px;
          }
        &.year {
        }
        &.day {
          left: 50%;
          @media (min-width: $screen-sm-min) {
            left: 120px;

          }          
        }
      }
    }
    &:after {
      border-bottom: 2px solid transparent;
      border-left: 1280px solid #3ECD8E;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      width: 0;
      margin: 0 -24px;
    }
  }
}



/*------------------------------------*\
    #MAPS
\*------------------------------------*/


#map {
  margin-top: -70px;
  margin-left: -30px;
  // margin-right: -15px;
}


/*------------------------------------*\
    #FOR MIXINS
\*------------------------------------*/


.horizontal-gradient {
  background: #296ad4;
  background: -moz-linear-gradient(left, #00CD88 0%, #00CD99 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00CD88), color-stop(100%, #00CD99));
  background: -webkit-linear-gradient(left, #00CD88 0%, #00CD99 100%);
  background: -o-linear-gradient(left, #00CD88 0%, #00CD99 100%);
  background: -ms-linear-gradient(left, #00CD88 0%, #00CD99 100%);
  background: linear-gradient(to right, #00CD88 0%, #00CD99 100%);
}

